.background {
	background-color: #EDE7F6;
	background-size: cover;
}

.jumbotron {
	background-image: linear-gradient(to right, #311B92, #9575CD);
	text-align: center;
	color: white;
}

.navbar {
	padding-bottom: 0px;
	font-size: 20px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.container-fluid {
	padding-top: 0px;
}

.sidebar {
	padding: 10px 10px 10px 10px;
	background: #fff;
	border-style:solid;
	border-color: #EDE7F6;
}

.sidebar-icons {
	text-align: center;
}

img {
	padding-top: 15px;
	padding-right: 5px;
}

.sidebar-title {
	text-align: center;
	margin-top: 20px;
}

.sidebar-title-text {
	color: #311B92;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.sidebar-title-body {
	color: #9575CD;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.sidebar-buttons {
	text-align: center;
	margin-top: 10px;
}

.sidebar-buttons .btn {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	margin-right: 5px;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  font-size: 25px;
  border-bottom: #E57373 4px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
	font-size: 25px;
  border-bottom: #81C784 4px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
	font-size: 25px;
  border-bottom: #4FC3F7 4px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
	font-size: 25px;
  border-bottom: #FFF176 4px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+4){
	font-size: 25px;
  border-bottom: #BA68C8 4px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+4){
	font-size: 25px;
  border-bottom: #90A4AE 4px solid;
}
