.purplebtn {
	color: #fff;
	background-color: #7E57C2;
	border-color: #673AB7;
}

.pad_lang {
	padding-right: 15px;
	padding-top: 5px;
}
.panel-purple {
  border-color: #7E57C2;
}
.panel-purple > .panel-heading {
  color: #fff;
  background-color: #7E57C2;
  border-color: #7E57C2;
}

h3 {
	margin: 1px;
}

.post { border-bottom:1px solid #DDD }
.post-title {  color:#662D91; }
.post .glyphicon { margin-right:5px; }
.post-header-line { border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:5px 0px 5px 15px;font-size: 12px; }
.post-content { padding-bottom: 15px;padding-top: 15px;}


.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 7%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

/* The controlsy */
.carousel-control {

    background: none repeat scroll 0 0 #EDE7F6;
}

.carousel {
    margin-bottom: 0;
    padding: 0 30px 0px 30px;
}

/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}

/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

.thumbnail {
	border: 1px;
	border-style: double;
	border-color: #9575CD;
}

.background {
	background-color: #EDE7F6;
	background-size: cover;
}

.jumbotron {
	background-image: linear-gradient(to right, #311B92, #9575CD);
	text-align: center;
	color: white;
}

.caption {
	text-align: center;
}
.navbar {
	padding-bottom: 0px;
	font-size: 20px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.container-fluid {
	padding-top: 0px;
}

.sidebar {
	padding: 10px 10px 10px 10px;
	background: #fff;
	border-style:solid;
	border-color: #EDE7F6;
}

.sidebar-icons {
	text-align: center;
}

.rating-text {
	text-align: center;
	float: center;
}
.media {
	color: #9575CD;
}

.media-heading {
	color: #311B92;
}
.icon {
	padding-right: 7px;
}

.sidebar-image {
	padding-top: 25px;
	padding-right: 0px;
}

.sidebar-title {
	text-align: center;
	margin-top: 20px;
}

.sidebar-title-text {
	color: #311B92;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.sidebar-title-body {
	color: #9575CD;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.sidebar-buttons {
	text-align: center;
	margin-top: 10px;
}

.sidebar-buttons .btn {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	margin-right: 5px;
}

.underline li:hover:nth-child(8n+1), .underline li.active:nth-child(8n+1){
  font-size: 25px;
  border-bottom: #E57373 4px solid;
}
.underline li:hover:nth-child(8n+2), .underline li.active:nth-child(8n+2){
	font-size: 25px;
  border-bottom: #81C784 4px solid;
}
.underline li:hover:nth-child(8n+3), .underline li.active:nth-child(8n+3){
	font-size: 25px;
  border-bottom: #4FC3F7 4px solid;
}
.underline li:hover:nth-child(8n+4), .underline li.active:nth-child(8n+4){
	font-size: 25px;
  border-bottom: #FFF176 4px solid;
}
.underline li:hover:nth-child(8n+5), .underline li.active:nth-child(8n+4){
	font-size: 25px;
  border-bottom: #BA68C8 4px solid;
}
.underline li:hover:nth-child(8n+6), .underline li.active:nth-child(8n+4){
	font-size: 25px;
  border-bottom: #90A4AE 4px solid;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0px 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}