<div class="row">
	<div class="col-md-12">
		<div id="Carousel" class="carousel slide">
			<div class="carousel-inner">						
				<div class="item active">
					<div class="row">
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/CChesseSticks.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>Mozella Deep Fried Cheese Sticks <br/> 27th January 2014</p></div></div>
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/Cchocobrownies.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>Soft Milk-Chocolate Brownies <br/> April 2016</p></div></div>
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/Cpho.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>South Style Vietmanese Phở <br/> 20th March 2016</p></div></div>
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/Cchocobrownies.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>Soft Milk-Chocolate Brownies <br/> April 2016</p></div></div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/CChesseSticks.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>Mozella Deep Fried Cheese Sticks <br/> 27th January 2014</p></div></div>
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/Cchocobrownies.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>Soft Milk-Chocolate Brownies <br/> April 2016</p></div></div>
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/Cpho.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>South Style Vietmanese Phở <br/> 20th March 2016</p></div></div>
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/Cchocobrownies.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>Soft Milk-Chocolate Brownies <br/> April 2016</p></div></div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/CChesseSticks.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>Mozella Deep Fried Cheese Sticks <br/> 27th January 2014</p></div></div>
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/Cchocobrownies.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>Soft Milk-Chocolate Brownies <br/> April 2016</p></div></div>
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/Cpho.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>South Style Vietmanese Phở <br/> 20th March 2016</p></div></div>
						<div class="col-md-3"><a href="#" class="thumbnail"><img src="/Images/Food-Gallery/Cchocobrownies.jpg" alt="Image" style="max-width:100%;"></a><div class="carousel-content"><p>Soft Milk-Chocolate Brownies <br/> April 2016</p></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr style="width: 100%; color: white; height: 1px; background-color:white;" />
<div class="row">
	<div class="col-md-12 post">
		<div class="row">
			<div class="col-md-12">
				<h4>
				<strong><a href="http://www.jquery2dotnet.com/2013/12/cool-share-button-effects-styles.html" class="post-title">Mozella Deep Fried Cheese Sticks</a></strong>
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 post-header-line">
				<span class="glyphicon glyphicon-calendar"></span>Sept 16th, 2012 | 
				<span class="glyphicon glyphicon-star"></span>4.5 Rating | 
				<span class="glyphicon glyphicon-tags"></span>Tags : <a href="#">
				<span class="label label-info">Appetizer</span></a> <a href="#">
				<span class="label label-info">Vegetarian</span></a> 
			</div>
		</div>
		<div class="row post-content">
			<div class="col-md-3">
				<a href="#"><img src="/Images/Food-Gallery/CChesseSticks.jpg" alt="" class="img-responsive"></a>
			</div>
			<div class="col-md-9">
				<p>Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable depending. Timed voice share led his widen noisy young. On weddings believed laughing although material do exercise of. Up attempt offered ye civilly so sitting to. She new course get living within elinor joy. She her rapturous suffering concealed. </p>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12 post">
		<div class="row">
			<div class="col-md-12">
				<h4>
				<strong><a href="" class="post-title">Mozella Deep Fried Cheese Sticks</a></strong>
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 post-header-line">
				<span class="glyphicon glyphicon-calendar"></span>Sept 16th, 2012 | 
				<span class="glyphicon glyphicon-star"></span>4.5 Rating | 
				<span class="glyphicon glyphicon-tags"></span>Tags : <a href="#">
				<span class="label label-info">Appetizer</span></a> <a href="#">
				<span class="label label-info">Vegetarian</span></a> 
			</div>
		</div>
		<div class="row post-content">
			<div class="col-md-3">
				<a href="#"><img src="/Images/Food-Gallery/CChesseSticks.jpg" alt="" class="img-responsive"></a>
			</div>
			<div class="col-md-9">
				<p>Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable depending. Timed voice share led his widen noisy young. On weddings believed laughing although material do exercise of. Up attempt offered ye civilly so sitting to. She new course get living within elinor joy. She her rapturous suffering concealed. </p>
			</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12 post">
		<div class="row">
			<div class="col-md-12">
				<h4>
				<strong><a href="" class="post-title">Mozella Deep Fried Cheese Sticks</a></strong>
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 post-header-line">
				<span class="glyphicon glyphicon-calendar"></span>Sept 16th, 2012 | 
				<span class="glyphicon glyphicon-star"></span>4.5 Rating | 
				<span class="glyphicon glyphicon-tags"></span>Tags : <a href="#">
				<span class="label label-info">Appetizer</span></a> <a href="#">
				<span class="label label-info">Vegetarian</span></a> 
			</div>
		</div>
		<div class="row post-content">
			<div class="col-md-3">
				<a href="#"><img src="/Images/Food-Gallery/CChesseSticks.jpg" alt="" class="img-responsive"></a>
			</div>
			<div class="col-md-9">
				<p>Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up he it enjoyment agreeable depending. Timed voice share led his widen noisy young. On weddings believed laughing although material do exercise of. Up attempt offered ye civilly so sitting to. She new course get living within elinor joy. She her rapturous suffering concealed. </p>
			</div>
		</div>
	</div>
</div>