<div class="row">
    <div class="col-md-12"> 
		<div class="panel panel-purple">
			<div class="panel-heading">
				<h3>Deep Fried Mozzarella Chesse Sticks</h3>
			</div>
			<div class="panel-body">
				 <div class="col-xs-6 col-md-4">
    				<a href="#" class="thumbnail"><img src="/images/Food-Gallery/ChesseSticks.jpg" alt="..."></a>
							<div class="well well-sm">
								<div class="row">
									<div class="col-md-5 rating-text">
										<h2>Rating: 4.3</h2>
										<div class="rating">
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star"></span>
											<span class="glyphicon glyphicon-star-empty"></span>
										</div>
										<div>
											<span>Views: </span>1,050,008 total
										</div>
									</div>
									<div class="col-md-7">
										<div class="row">
											<div class="col-xs-3 col-md-5 text-right">
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
											</div>
											<div class="col-md-7">
												<div class="progress">
													<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
														<span>80%</span>
													</div>
												</div>
											</div>
											<div class="col-xs-3 col-md-5 text-right">
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
											</div>
											<div class="col-md-7">
												<div class="progress">
													<div class="progress-bar progress-bar" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100" style="width: 60%">
														<span>60%</span>
													</div>
												</div>
											</div>
											<div class="col-xs-3 col-md-5 text-right">
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
											</div>
											<div class="col-md-7">
												<div class="progress progress">
													<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
														<span>40%</span>
													</div>
												</div>
											</div>
											<div class="col-xs-3 col-md-5 text-right">
												<span class="glyphicon glyphicon-star"></span>
												<span class="glyphicon glyphicon-star"></span>
											</div>
											<div class="col-md-7">
												<div class="progress progress">
													<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
														<span>32%</span>
													</div>
												</div>
											</div>
											<div class="col-xs-3 col-md-5 text-right">
												<span class="glyphicon glyphicon-star"></span>
											</div>
											<div class="col-md-7">
												<div class="progress progress">
													<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 43%">
														<span>43%</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8"> 
							<div class="panel with-nav-tabs panel-default">
								<div class="panel-heading">
										<ul class="nav nav-tabs">
											<li class="active"><a href="#tab1default" data-toggle="tab">Ingredients</a></li>
											<li><a href="#tab2default" data-toggle="tab">Cooking Directions</a></li>
											<li><a href="#tab3default" data-toggle="tab">General Tips</a></li>
										</ul>
								</div>
								<div class="panel-body">
									<div class="tab-content">
										<div class="tab-pane fade in active" id="tab1default">
											<p><b>2</b> Eggs</p>
											<p><b>1/4 Cup</b> Milk</p>
											<p><b>2 tsp</b> Olive Oil</p>
											<p><b>1/2 Cup</b> Cocoa Powder, Sifted</p>
											<p><b>1/4 Cup</b> Caster Sugar</p>
											<p><b>200 Grams</b> Butter</p>
											<p><b>4</b> Servings</p>
										</div>
										<div class="tab-pane fade" id="tab2default">Default 2

										</div>
										<div class="tab-pane fade" id="tab3default">
											<p><b>Avoid cast iron. </b>Eggs scrambled in a cast iron skillet can turn a greenish shade. This harmless but unappealing color change is the result of a chemical reaction between iron in the pan and sulfur in egg whites.</p> 	
											<p><b>Don’t overcook. </b>The heat retained in the pan will continue to cook and firm up the eggs after pan is removed from heat.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
			</div>
		</div>
    </div>
</div>